*.pyc
build/
dist/
develop-eggs/
eggs/
.eggs/
docker-compose.override.yml
pyrightconfig.json
.env
.secrets
.dev/
!dev-sample/.secrets/
!dev-sample/docker-compose.override.yml
!/ops/deployments/files/*/docker-compose.override.yml
.idea/
.venv
wheels/
*.egg-info/
.installed.cfg
*.egg
*.~lock*
.pytest_cache
MANIFEST
# Ops
ansible.cfg
pinit.cfg
